In [17]:
import pandas as pd
import numpy as np
import os
import datetime
import plotly.express as px

In [2]:
pwd = os.getcwd()

# <span style="color:#337ab7">Confirmed</span>

In [3]:
confirmed = pd.read_csv(pwd + '\\time_series_covid_19_confirmed.csv')
confirmed

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,64575,65080,65486,65728,66275,66903,67743,68366,69130,70111
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,132118,132153,132176,132209,132215,132229,132244,132264,132285,132297
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,126156,126434,126651,126860,127107,127361,127646,127926,128198,128456
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13569,13569,13569,13569,13569,13664,13671,13682,13693,13693
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,31661,31909,32149,32441,32623,32933,33338,33607,33944,34180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,2,2,2,2,2,...,4809,4941,5119,5275,5404,5931,6086,6356,6396,6908
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,304532,304968,305201,305201,305777,306334,306795,306795,307569,307838
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,6613,6632,6649,6658,6662,6670,6688,6696,6723,6731
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,92754,92920,93106,93201,93279,93428,93627,93947,94430,94751
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,38635,38664,38679,38682,38696,38706,38819,38854,38918,38933

In [19]:
confirmed_melted = confirmed.melt(
    id_vars=list(confirmed.columns)[:4], value_vars=list(confirmed.columns)[4:], var_name='ObservationDate', value_name='Confirmed'
)
confirmed_melted

,Province/State,Country/Region,Lat,Long,ObservationDate,Confirmed
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,6908
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,307838
136341,NaN,Yemen,15.552727,48.516388,5/29/21,6731
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,94751
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,38933

In [20]:
confirmed_melted['ObservationDate'] = pd.to_datetime(confirmed_melted['ObservationDate'])

confirmed_melted_2 = confirmed_melted.groupby(
    [pd.Grouper(key='ObservationDate',freq='M'), 'Province/State', 'Country/Region'], dropna=False
).sum().reset_index()

confirmed_melted_2.drop(columns = ['Lat',"Long"], inplace=True)
confirmed_melted_2

,ObservationDate,Province/State,Country/Region,Confirmed
0,2020-01-31,Alberta,Canada,0
1,2020-01-31,Anguilla,United Kingdom,0
2,2020-01-31,Anhui,China,889
3,2020-01-31,Aruba,Netherlands,0
4,2020-01-31,Australian Capital Territory,Australia,0
...,...,...,...,...
4687,2021-05-31,NaN,Vietnam,125212
4688,2021-05-31,NaN,West Bank and Gaza,8791492
4689,2021-05-31,NaN,Yemen,189704
4690,2021-05-31,NaN,Zambia,2685828
4691,2021-05-31,NaN,Zimbabwe,1118004

In [21]:
output1 = confirmed_melted_2[confirmed_melted_2['ObservationDate'] == '2021-03-31']
output1['ObservationDate'] = output1['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))
output1

<ipython-input-21-d2ce588736b8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output1['ObservationDate'] = output1['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))

,ObservationDate,Province/State,Country/Region,Confirmed
3864,03/31/2021,Alberta,Canada,4338742
3865,03/31/2021,Anguilla,United Kingdom,634
3866,03/31/2021,Anhui,China,30814
3867,03/31/2021,Aruba,Netherlands,265688
3868,03/31/2021,Australian Capital Territory,Australia,3793
...,...,...,...,...
4135,03/31/2021,NaN,Vietnam,78997
4136,03/31/2021,NaN,West Bank and Gaza,6630876
4137,03/31/2021,NaN,Yemen,96700
4138,03/31/2021,NaN,Zambia,2627072
4139,03/31/2021,NaN,Zimbabwe,1132264

# <span style="color:#337ab7">Deaths</span>

In [7]:
deaths = pd.read_csv(pwd + '\\time_series_covid_19_deaths.csv')
deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,2772,2782,2792,2802,2812,2836,2855,2869,2881,2899
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,2440,2441,2442,2444,2445,2447,2447,2447,2448,2449
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,3401,3405,3411,3418,3426,3433,3440,3448,3455,3460
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,127,127,127,127,127,127,127,127,127,127
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,704,709,715,725,731,735,742,745,749,757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,39,41,42,43,44,44,45,46,47,47
272,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,3448,3452,3459,3459,3470,3480,3483,3483,3489,3492
273,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,1301,1302,1304,1307,1310,1311,1313,1315,1316,1319
274,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,1265,1266,1267,1268,1271,1271,1273,1275,1275,1276
275,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,1585,1586,1586,1586,1586,1587,1589,1592,1592,1594

In [8]:
deaths_melted = deaths.melt(
    id_vars=list(deaths.columns)[:4], value_vars=list(deaths.columns)[4:], var_name='ObservationDate', value_name='Deaths'
)
deaths_melted

,Province/State,Country/Region,Lat,Long,ObservationDate,Deaths
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
136339,NaN,Vietnam,14.058324,108.277199,5/29/21,47
136340,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,3492
136341,NaN,Yemen,15.552727,48.516388,5/29/21,1319
136342,NaN,Zambia,-13.133897,27.849332,5/29/21,1276
136343,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,1594

In [9]:
deaths_melted['ObservationDate'] = pd.to_datetime(deaths_melted['ObservationDate'])

deaths_melted_2 = deaths_melted.groupby(
    [pd.Grouper(key='ObservationDate',freq='M'), 'Province/State', 'Country/Region'], dropna=False
).sum().reset_index()

deaths_melted_2.drop(columns = ['Lat',"Long"], inplace=True)
deaths_melted_2

     ObservationDate                Province/State      Country/Region  Deaths
0         2020-01-31                       Alberta              Canada       0
1         2020-01-31                      Anguilla      United Kingdom       0
2         2020-01-31                         Anhui               China       0
3         2020-01-31                         Aruba         Netherlands       0
4         2020-01-31  Australian Capital Territory           Australia       0
...              ...                           ...                 ...     ...
4687      2021-05-31                           NaN             Vietnam    1112
4688      2021-05-31                           NaN  West Bank and Gaza   98652
4689      2021-05-31                           NaN               Yemen   37228
4690      2021-05-31                           NaN              Zambia   36600
4691      2021-05-31                           NaN            Zimbabwe   45855

[4692 rows x 4 columns]

In [10]:
output2 = deaths_melted_2[deaths_melted_2['ObservationDate'] == '2021-03-31']
output2['ObservationDate'] = output2['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))
output2

<ipython-input-10-7474c408ea71>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output2['ObservationDate'] = output2['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))

     ObservationDate                Province/State      Country/Region  Deaths
3864      03/31/2021                       Alberta              Canada   60345
3865      03/31/2021                      Anguilla      United Kingdom       0
3866      03/31/2021                         Anhui               China     186
3867      03/31/2021                         Aruba         Netherlands    2463
3868      03/31/2021  Australian Capital Territory           Australia      93
...              ...                           ...                 ...     ...
4135      03/31/2021                           NaN             Vietnam    1085
4136      03/31/2021                           NaN  West Bank and Gaza   72142
4137      03/31/2021                           NaN               Yemen   22561
4138      03/31/2021                           NaN              Zambia   35947
4139      03/31/2021                           NaN            Zimbabwe   46556

[276 rows x 4 columns]

# <span style="color:#337ab7">Recovered</span>

In [11]:
reco = pd.read_csv(pwd + '\\time_series_covid_19_recovered.csv')
reco

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/21,5/21/21,5/22/21,5/23/21,5/24/21,5/25/21,5/26/21,5/27/21,5/28/21,5/29/21
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,55687,55790,55889,56035,56295,56518,56711,56962,57119,57281
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,127869,128425,128601,128732,128826,128907,128978,129042,129097,129215
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,87902,88066,88208,88346,88497,88672,88861,89040,89232,89419
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,13234,13234,13234,13234,13234,13263,13381,13405,13416,13416
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,26483,26513,26775,26778,27087,27204,27467,27529,27577,27646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256,NaN,Vietnam,14.058324,108.277199,0,0,0,0,0,0,...,2687,2689,2721,2721,2794,2794,2853,2853,2896,2896
257,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,295643,296901,297201,297201,298502,299024,299559,299559,300125,300524
258,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,3159,3179,3201,3245,3260,3273,3306,3339,3375,3399
259,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,90955,91019,91102,91156,91200,91221,91239,91321,91443,91594
260,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,36427,36435,36445,36453,36471,36517,36531,36541,36563,36578

In [12]:
reco_melted = reco.melt(
    id_vars=list(reco.columns)[:4], value_vars=list(reco.columns)[4:], var_name='ObservationDate', value_name='Recovered'
)
reco_melted

,Province/State,Country/Region,Lat,Long,ObservationDate,Recovered
0,NaN,Afghanistan,33.939110,67.709953,1/22/20,0
1,NaN,Albania,41.153300,20.168300,1/22/20,0
2,NaN,Algeria,28.033900,1.659600,1/22/20,0
3,NaN,Andorra,42.506300,1.521800,1/22/20,0
4,NaN,Angola,-11.202700,17.873900,1/22/20,0
...,...,...,...,...,...,...
128929,NaN,Vietnam,14.058324,108.277199,5/29/21,2896
128930,NaN,West Bank and Gaza,31.952200,35.233200,5/29/21,300524
128931,NaN,Yemen,15.552727,48.516388,5/29/21,3399
128932,NaN,Zambia,-13.133897,27.849332,5/29/21,91594
128933,NaN,Zimbabwe,-19.015438,29.154857,5/29/21,36578

In [13]:
reco_melted['ObservationDate'] = pd.to_datetime(reco_melted['ObservationDate'])

reco_melted_2 = reco_melted.groupby(
    [pd.Grouper(key='ObservationDate',freq='M'), 'Province/State', 'Country/Region'], dropna=False
).sum().reset_index()

reco_melted_2.drop(columns = ['Lat',"Long"], inplace=True)
reco_melted_2

,ObservationDate,Province/State,Country/Region,Recovered
0,2020-01-31,Anguilla,United Kingdom,0
1,2020-01-31,Anhui,China,7
2,2020-01-31,Aruba,Netherlands,0
3,2020-01-31,Australian Capital Territory,Australia,0
4,2020-01-31,Beijing,China,24
...,...,...,...,...
4432,2021-05-31,NaN,Vietnam,77569
4433,2021-05-31,NaN,West Bank and Gaza,8411360
4434,2021-05-31,NaN,Yemen,89442
4435,2021-05-31,NaN,Zambia,2631423
4436,2021-05-31,NaN,Zimbabwe,1050714

In [14]:
output3 = reco_melted_2[reco_melted_2['ObservationDate'] == '2021-03-31']
output3['ObservationDate'] = output3['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))
output3

<ipython-input-14-1f62b751e3fe>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output3['ObservationDate'] = output3['ObservationDate'].map(lambda x: x.strftime('%m/%d/%Y'))

,ObservationDate,Province/State,Country/Region,Recovered
3654,03/31/2021,Anguilla,United Kingdom,586
3655,03/31/2021,Anhui,China,30628
3656,03/31/2021,Aruba,Netherlands,251729
3657,03/31/2021,Australian Capital Territory,Australia,3604
3658,03/31/2021,Beijing,China,32059
...,...,...,...,...
3910,03/31/2021,NaN,Vietnam,65765
3911,03/31/2021,NaN,West Bank and Gaza,5898926
3912,03/31/2021,NaN,Yemen,46994
3913,03/31/2021,NaN,Zambia,2515749
3914,03/31/2021,NaN,Zimbabwe,1056857

# <span style="color:#337ab7">Output Final</span>

In [33]:
on = ['ObservationDate', 'Province/State', 'Country/Region']
output_final = pd.merge(left=output1, right=output2, how='inner', left_on=on, right_on=on)
output_final = pd.merge(left=output_final, right=output3, how='outer', left_on=on, right_on=on)
output_final['Province/State'].fillna('-', inplace=True)
output_final

,ObservationDate,Province/State,Country/Region,Confirmed,Deaths,Recovered
0,03/31/2021,Alberta,Canada,4338742.0,60345.0,NaN
1,03/31/2021,Anguilla,United Kingdom,634.0,0.0,586.0
2,03/31/2021,Anhui,China,30814.0,186.0,30628.0
3,03/31/2021,Aruba,Netherlands,265688.0,2463.0,251729.0
4,03/31/2021,Australian Capital Territory,Australia,3793.0,93.0,3604.0
...,...,...,...,...,...,...
272,03/31/2021,-,West Bank and Gaza,6630876.0,72142.0,5898926.0
273,03/31/2021,-,Yemen,96700.0,22561.0,46994.0
274,03/31/2021,-,Zambia,2627072.0,35947.0,2515749.0
275,03/31/2021,-,Zimbabwe,1132264.0,46556.0,1056857.0
276,03/31/2021,-,Canada,NaN,NaN,26916432.0

In [34]:
output_final.groupby('Country/Region').sum()

                    Confirmed   Deaths  Recovered
Country/Region
Afghanistan         1737068.0  76227.0  1541980.0
Albania             3652195.0  63810.0  2525857.0
Algeria             3577898.0  94314.0  2481861.0
Andorra              352375.0   3499.0   336906.0
Angola               666295.0  16193.0   618101.0
...                       ...      ...        ...
Vietnam               78997.0   1085.0    65765.0
West Bank and Gaza  6630876.0  72142.0  5898926.0
Yemen                 96700.0  22561.0    46994.0
Zambia              2627072.0  35947.0  2515749.0
Zimbabwe            1132264.0  46556.0  1056857.0

[193 rows x 3 columns]

In [38]:
px.scatter(output_final.dropna(),x= 'Confirmed', y='Recovered', size='Deaths', hover_name='Country/Region')